body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding:40px;
}

form{
  background-color: white;
  padding:30px;
  border-radius: 10px;
  width:400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top:10px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Fix radio button layout issue */
/* Problem: input[type="radio"] inherited width: 100%, causing layout to break */
/* Solution: reset width to auto so it aligns properly with label */

input[type="radio"] {
  width: auto;
  margin 0;
}

radio-group {
  display: flex;
  gap: 20px;              
  margin-bottom: 15px; 
  align-items: center;
}

radio-group {
  display: flex;
  gap: 6px;              
  font-weight: normal;
  align-items: center;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-size 16px;
}

button:hover{
  background-color: #56b3;
}